<md-card>
    <md-card-title>
        <md-input class="demo-full-width" placeholder="type to search" [formControl]="query"></md-input>
    </md-card-title>
    <md-card-content>
        <md-data-table>
            <thead>
            <tr>
                <th class="md-text-cell">Name</th>
                <th class="md-text-cell">Id</th>
                <th class="md-text-cell">Keywords</th>
                <th class="md-text-cell">Expires</th>
                <th class="md-text-cell">Added</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let document of documents">
                <td class="md-text-cell" [innerText]="document.Name"></td>
                <td class="md-text-cell" [innerText]="document.Id"></td>
                <td class="md-text-cell" [innerText]="document.Keywords.join(',') || '-'"></td>
                <td class="md-text-cell" [innerText]="document.Expires ? (document.Expires | timeAgo) : '-'"
                    [title]="document.Expires ? (document.Expires | date: 'yyyy.MM.dd HH.mm') : ''"></td>
                <td class="md-text-cell" [innerText]="document.Added | date : 'yyyy.MM.dd'"></td>
            </tr>
            </tbody>
        </md-data-table>
    </md-card-content>
</md-card>