<h1>List</h1>
<div>
    Type to search: <input type="text" [formControl]="query"/>
</div>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Keywords</th>
            <th>Expires</th>
            <th>Added</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let document of documents">
            <td [innerText]="document.Id"></td>
            <td [innerText]="document.Name"></td>
            <td [innerText]="document.Keywords.join(',')"></td>
            <td [innerText]="document.Expires ? (document.Expires | timeAgo) : '-'" [title]="document.Expires ? (document.Expires | date: 'yyyy.MM.dd HH.mm') : ''"></td>
            <td [innerText]="document.Added | date : 'yyyy.MM.dd'"></td>
        </tr>
    </tbody>
</table>