<h1>DOKU</h1>
<div>
    Type to search: <input type="text" [formControl]="query"/>
</div>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Expires in</th>
            <th>Expires at</th>
            <th>Added</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let document of documents">
            <td [innerText]="document.Id"></td>
            <td [innerText]="document.Name"></td>
            <td [innerText]="document.Expires || '-'"></td>
            <td [innerText]="document.Expires || '-'"></td>
            <td [innerText]="document.Added | date : 'yyyy.MM.dd'"></td>
        </tr>
    </tbody>
</table>