<mat-card>
    <!-- <md-card-title>
        <md-input-container class="demo-full-width" placeholder="type to search" [formControl]="query"></md-input-container>
    </md-card-title>-->
    <mat-card-content>
        <table>
            <thead>
                <tr>
                    <th class="mat-text-cell">Name</th>
                    <th class="mat-text-cell">Id</th>
                    <th class="mat-text-cell">Keywords</th>
                    <th class="mat-text-cell">Expires</th>
                    <th class="mat-text-cell">Added</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let document of documents">
                    <td class="mat-text-cell" [innerText]="document.name"></td>
                    <td class="mat-text-cell" [innerText]="document.id"></td>
                    <td class="mat-text-cell" [innerText]="document.keywords.join(',') || '-'"></td>
                    <td class="mat-text-cell" [innerText]="document.expires ? (document.expires | timeAgo) : '-'" [title]="document.expires ? (document.expires | date: 'yyyy.MM.dd HH.mm') : ''"></td>
                    <td class="mat-text-cell" [innerText]="document.added | date : 'yyyy.MM.dd'"></td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>
