@import '~@angular/material/theming';
@include mat-core();

.edit-container {
    width: 25%;
}
.edit-container > mat-card-content {
    display: flex;
    flex-direction: column;
}

.edit-container > mat-card-content > * {
    width: 100%;
}

span.category-title {
    display: inline-block;
    color: mat-color($mat-grey, 600);
    padding-bottom: 5px;
}

button mat-spinner {
    display: inline-block;
}